.page-background {
    /*Ruta de la imagen*/
    background-color:aquamarine;
    /*ajusta la imagen al tamaño del fondo*/
    background-size: cover;
    background-repeat: no-repeat;
}

.content-box {
    background-color: white;
    padding: 20px;
}